/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h2 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
}

#input-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

section {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#output-channel, #output-estimation {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bar:hover {
    fill: #ff7f0e;
}

.dot-completo:hover {
    r: 3;
    fill: #ff7f0e;
}

#line-path-loss, #line-shadowing {
    stroke-dasharray: 0;
}

svg {
    display: block;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.line-cdf-est {
    stroke: steelblue;
    stroke-width: 2px;
}

.line-cdf-teorica {
    stroke: red;
    stroke-width: 2px;
    stroke-dasharray: 5,5;
}

.line-fading-est, .line-path-loss-est, .line-shadowing-est {
    stroke: red;
    stroke-width: 2px;
}

.line-prx-est {
    stroke: steelblue;
    stroke-width: 2px;
}

.line-path-loss-shadowing-est {
    stroke: green;
    stroke-width: 2px;
}

.dot-original {
    fill: steelblue;
    opacity: 0.3;
}
